<%- include("../partials/header.ejs")  %>

<form action="/notes" method="POST">
    <%- include("../partials/input.ejs")  %> 
    <input type="submit" value="create note">
</form>

<%- include("../partials/footer.ejs")  %> 
