<%- include("./partials/header.ejs") %>

    <h1>Car Status</h1>
    <div>
        <form action="/submitCar">
            <label for="year">Year?</label>
            <input type="text" id="year" name="year">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>