<%- include("./partials/header.ejs") %>
<h1>Fizz Buzz</h1>
    <form action="fizz_buzz_result">
        <label for="num1">Number 1</label>
        <input type="text" id="num1" name="num1">
        <label for="num2">Number 2</label>
        <input type="text" id="num2" name="num2">
        <button>Calculate</button>
    </form>

</body>
</html>