<%- include("./partials/header.ejs") %>

    <h1>Random Name Picker</h1>
    <div>
        <form action="/submitPerson">
            <label for="names">Names</label>
            <input type="text" name="names" id="names">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>