<% if (username) {%>

<%}else {%>
    <form action="/sign_in" method="POST">
        <input class='form-control mr-2' type="text" name="username">
        <button type="submit" class='btn btn-outline-dark'>Sign In</button>
    </form>
<%}  %> 
