<%- include('./partials/header') %>

<h1>Welcome to the Todo List App</h1>
<div class="d-flex">
    <img class="image" src="images/todo.jpg" alt="todo image">
    <% if (username) { %>
            <span>Hello, <%- username %>!</span>
            <form action="/sign_out" method="POST">
                <button type="submit" class='btn btn-outline-dark'>Sign Out</button>
            </form>
  
    <% } else { %>
            <form action="/sign_in" method="POST">
                <input class='form-control mr-2' type="text" name="username">
                <button type="submit" class='btn btn-outline-dark'>Sign In</button>
            </form>
 
    <% } %>
</div>
<%- include('./partials/footer') %>